@import "bourbon";

.pokedex-portlet {
	.pokemon {
		.type-water {
			color: #0091FF;
		}

		.type-electric {
			color: #F6BF22;
		}

		.type-fire {
			color: #FF4100;
		}

		.type-poison {
			color: #62AC5A;
		}

		.type-flying {
			color: #BDC5E6;
		}
	}

	.row {
		margin-bottom: 15px;
	}
}

.autocomplete-pokemon {
	position: absolute;
}