@import "bourbon";

.pokedex-portlet {
	.pokemon {
		.type-water {
			color: #0091FF;
		}

		.type-electric {
			color: #f6bf22;
		}

		.type-fire {
			color: #ff4100;
		}

		.type-poison {
			color: #62ac5a;
		}

		.type-flying {
			color: #bdc5e6;
		}
	}

	.row {
		margin-bottom: 15px;
	}
}

.autocomplete-pokemon {
	position: absolute;
}