@import "bourbon";

.pokedex-portlet {
	.pokemon {
		.type-bug {
			color: #A8B820;
		}

		.type-dragon {
			color: #7038F8;
		}

		.type-electric {
			color: #F8D030;
		}

		.type-fairy {
			color: #EE99AC;
		}

		.type-fire {
			color: #F08030;
		}

		.type-flying {
			color: #A890F0;
		}

		.type-ghost {
			color: #705898;
		}

		.type-grass {
			color: #78C850;
		}

		.type-ground {
			color: #E0C068;
		}

		.type-ice {
			color: #98D8D8;
		}

		.type-normal {
			color: #A8A878;
		}

		.type-poison {
			color: #A040A0;
		}

		.type-rock {
			color: #B8A038;
		}

		.type-steel {
			color: #B8B8D0;
		}

		.type-water {
			color: #6890F0;
		}
	}

	.row {
		margin-bottom: 15px;
	}
}

.autocomplete-pokemon {
	position: absolute;
}